h1 {
	font-size: 5.5em;
	padding-top: 1em;
	height: 1.9%;

	text-align: left;
}
h1:before {
	content: "—"
}
header {
	padding: 15px;
	background: url('/assets/background.png');
	height: 100vh;
	background-repeat: no-repeat;
}
.wrapper_head {
	width: 80%;
	position: relative;
	display: flex;
	justify-content: flex-start;
	padding: 10px;
}
nav {
	color: #121212;
	font-size: .9em;
	/* Approximation due to font substitution */
	font-weight: 700;
	line-height: 24px;
	display:flex;
	flex-direction:row;
	justify-content:flex-end;
	position: relative;
	p {
		width: 3.1%;
		height: 0.9%;
		flex: 1 0 0;
	}
	a {
		text-decoration: none;
		padding: 5px;
		color: #121212;
	}
	a:hover {
		border-bottom: 4px solid $midnite;
		cursor: crosshair;
	}
}
.navBar {
	display: flex;
	flex-direction: row;
	list-style: none;
	padding: 5px;
	font-size: 1.2em;
	ul {
		padding: 1.3em;
	}
	li {
		padding: .2em;
	}
}
.downBtn {
	text-align: center;
	margin: 0 auto;
	position: absolute;
	top: 70%;
	right: 50%;
}