
.portfolio-work{
border:1px solid transparent;

		padding:.7em;
	
}

.wrapper-three {
	width:85%;
margin:0 auto;
text-align:center;
	
	 display: flex;
   flex-direction: column;
	
}

.port-text {
strong {
	color:darken($pastelPink, 10%);
}

h2 {
padding-top:50px;
margin-top:25px;
margin:0;

	font-size:3.1rem;
}
h2:after {
	content:"	—";


	
	}

	
}




	

.port-photos {
padding: 3vw;
  
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  display: -webkit-box;
  display: flex;

text-align:left;
margin: 0 auto;

	

	
}
.port-one, .port-two, .port-three, .port-four ,.port-five {



width:50%;


margin:0 auto;

	
	
}
.port-code {
	 -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
  width: 40%;
  margin: 2vw;
	a {
		border:none;

	}
	.right-description , .description {
		
		color:$midnite;
	}
	ul {
		list-style:none;
		margin:0 auto;
	}
	li:before {
		content:" -";
		color:$pastelPink;
	}	
}

.port-one {

img {
	 width: 100%; 
  height: auto; 
}


}
.port-two {
img {
	 width: 100%; 
  height: auto; 
}

}
.port-three {
	img {
	 width: 100%; 
  height: auto; 
	}
}
.port-four {
img {
		 width: 100%; 
  height: auto; 
}
}

.port-code {
	
	text-align:left;
	width:40%;
	
	


	
h4 {
	font-family:$jose;

	color: $midnite;
	font-size: 1.5rem;/* Approximation due to font substitution */
	line-height:1.4em;
	border-bottom:1px solid $pastelPink;
	text-transform: uppercase;

	}

	a{
		text-decoration:none;
		color:$midnite;
		
		text-align:left;
		margin:0 auto;
	
		
		justify-content:center;
		 

		
		padding:.3em;
	}
	a:first-child {
		font-size:1.5em;
		letter-spacing:.3em;
		
	}
	a:before{
		content:"   -";
		color:$pastelPink;
	}
	a:hover, a:focus {
color:$pastelPink;
border-bottom:1px solid $pastelPink;
	}
	
	.github {
		
		font-size:.9em;
		margin:0 auto;
		padding:2em;
		display:flex;
	
		
		
	}
	
	strong::after {

color:$midnite;
margin:0;
	line-height:0;
	}

 .description{
	font-family:$crim;
	color: $midnite;
	padding:25px;


	 
	text-transform:lowercase;
	font-size: 1.5rem; /* Approximation due to font substitution */



	
	
	}
}
h4.right {
	text-align:right;
}



main {
	padding:.5em;
	h2 {
		
	}
}

