@import "partials/normalize";
@import "partials/_variables";
@import "partials/_Header";
@import "partials/about";
@import "partials/portfolio";
body {
	margin: 0 auto;
	min-height: 100%;
	height:100%;
	

	/* the footer needs this */
	font-family: 'Josefin Sans', sans-serif;
	color: #121212;
	font-weight: 600;
	text-align: left;
	letter-spacing: 2px;
}
h2 {
		font-size:2.8rem;
	margin:0 auto;
	padding-top:1em;
	text-align:center;

	}

.slider {

	margin:0 auto;
	text-align:center;
	
	
}
   .swiper-container {
        width: 100%;
   
      
       a {
       	color:$midnite;
       	padding:.3em;


       }
    }
    .swiper-slide {
    	
    margin:0 auto;
      display: flex;
       

      
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
         overflow-x:scroll;
        img {
        	height:auto;
        	width:50.5%;
        	
        }
       
    }
.swiper-box {
	display:flex;



	width:45%;
	text-align:left;

	padding-left:1em;
	flex-direction:column;

 h3 {
        	font-size:2rem;

        

        }
        p {
        		font-size:1rem;
        		line-height:1.2em;
        		padding:.5em;
        		margin:0 auto;
        		
        	}

        	li {
        		list-style:none;
      		font-size:.9em;
      		margin-left:-2em;
        		



        		a {
        			color:$midnite;

        		}
        	}
}

a:hover {
	cursor: crosshair;
}

///blog posts 
///
.blog-posts {
	margin: 0 auto;
	
	text-align: center;
	h2 {

		font-size: 2.8rem;
	}
	
}
.wrapper-four {
	width: 85%;
	padding: 4em;

	margin-top: 2em;
	margin: 0 auto;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
}
.blog {
	border: 1px solid transparent;
	color: #121212;
	font-size: 2.1rem;
	font-family: $jose;
	line-height: 1.333;
	/* Approximation due to font substitution */
	text-align: center;
	padding: 2em 4em;
}




.box-three {
	border: 1px solid transparent;

	width: 30%;
	padding: 10px 15px;
	margin: 0 auto;
	.title-box {
		font-size: 1rem;
		color: #f68c9d;
		font-size: 1.5rem;
		/* Approximation due to font substitution */
		font-weight: 700;
		line-height: 2.182;
		/* Approximation due to font substitution */
		text-align: left;
	}
	.details {
		font-family: $crim;
		color: darken($light, 12%);
		font-size: .9rem;
		/* Approximation due to font substitution */
		font-style: italic;
		line-height: 1.5;
		/* Approximation due to font substitution */
		text-align: left;
	}
	h4 {
		font-family: $jose;
		font-size: 1.8rem;
		/* Approximation due to font substitution */
		font-weight: 600;
		line-height: 3px;
		/* Approximation due to font substitution */
		text-align: left;
	}
	a {
		text-decoration: none;
		color: #121212;
		line-height:2;
	}
}
.description {
	font-family: $crim;
	color: #ababab;
	font-size: 1rem;
	/* Approximation due to font substitution */
	line-height: 1.2;
	/* Approximation due to font substitution */
	text-align: left;
}
.grey {
	// background-color: #d7d7d7;
	background: $lightgrey;
	background-size: 50%;
	height: auto;
	padding: 25px;
	margin: 25px;
	background-color: #d7d7d7;
	width: 25.9%;
}
.wrapper-5 {
	padding: .7em;
	width: 100%;
	margin: 0 auto;
	text-align: left;

}
.pre-contact {
	margin: 0 auto;
		height:50vh;
	text-align: center;
	h2 {
		text-align: center;
		font-size: 2.8rem;
	}
	h2:after {
		content: "	—";
		
	}
	h3 {
		font-family: $jose;
		color: #121212;
		font-size: 1.0rem;
		/* Approximation due to font substitution */
		font-weight: 600;
		line-height: 1.25;
		/* Approximation due to font substitution */
		text-align: center;
	}
	h3:after {
		content: "	—";
	}
	a {
		font-family: $jose;
	}
	color: #121212;
	font-size: 0.875rem;
	/* Approximation due to font substitution */
	font-weight: 600;
	line-height: 1.714;
	/* Approximation due to font substitution */
	text-align: right;
}
.box-contact {
	

	width: 100%;
	margin: 0 auto;
	


	
	p {
		text-align: center;
		margin: 0 auto;
		
		
		line-height: 4;
		font-size: 1.225em
	}
}
svg {
	height: auto;
	width: auto;
	fill:$midnite;
	text-align:center;
	max-height: 2.2em;
	max-width: 2.2em;
	fill: $pastelPink;
	border:1px solid transparent;
	border-radius:50%;



	filter: contrast(98%);
}
.svg-box {
	text-align: center;
	text-align:center;
	width:100%;
	
	list-style: none;
	margin: 0 auto;
	
	
}
.overlay-box {
	
	background-color: #ffffff;
	width: 73.1%;
	top: 0;
	z-index: 9999;
	right: 0;
	margin-right: 12.5%;
	border: 1px solid transparent;
	position: absolute;
	margin-top: -3em;
	text-align: center;
	opacity:.925;
	min-height:450px;
	transform:translateY(-42%);
}
.footer {
	margin: 0;
	z-index: 1;
	border: 1px solid transparent;
	background-size: contain;
	width: 100%;
	background: $pastelPink;
	height: 95vh;

	a {
		color:$midnite;
	}
}

.overlay-info {
	width: 70%;
	text-align: center;
	margin: 0 auto;

	h3 {
		font-size:2.8em;
		color: rgba(0,0,0,.4);

		}
		

}

input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer;
	font-size: 5em;
	padding: 1em;
}
input {
	width: 90%;
	padding: 0.5em;
	font-size: 5em;
	width: 90%;
	margin: 0 auto;
	padding: 0.5em;
	margin-top: 2em;
}
textarea {
	width: 90%;
	font-size: 1.9em;
	height: 150px;
	margin: 0 auto;
	font-size: 5em;
	padding: 3em;
	margin-top: 2em;
	resize: none;
	font-size: 1.0rem;
}
.button-submit {
	background: $pastelPink;
	border: 1px solid $lightgrey;
	padding: 1em;
	margin-top: 1em;
	width: 40%;
}
.wrapper-6 {
	position: relative;
}
.works {
	font-size: 2.8rem;
}
.overlay-title {
	margin: 0;
	text-align: center;
	font-size: 3rem;
}
.social-media {
	border:1px solid transparent;
	padding:4em;

i {
	color: $darkGrey;
	font-size:2em;
}
}

.social-media::before {
        content: '';
        position: absolute;
        top: -20px;
        left: -20px;
        height: 20px;
        width: 20px;
        border-top: 5px solid $midnite;
        border-left: 5px solid $midnite;
    }
    .social-media::after {
        content: '';
        position: absolute;
       bottom: -20px;
        right: -20px;
        height: 20px;
        width: 20px;
        border-bottom: 5px solid $midnite;
        border-right: 5px solid $midnite;
    }
i {
	color:$darkGrey;
}
textarea:focus {
	background: $lightgrey;
	outline: none;
	border: 1px solid $pastelPink;
}
input:focus {
	background: $lightgrey;
	outline: none;
	border: 1px solid $pastelPink;
}
button:focus {
	outline: none;
	border: 1px solid $pastelPink;
}
button {
	outline: none;
	border: 1px solid $lightgrey;
}
i:after {
	content: "    -";
	color: $pastelPink;
	padding: 0;
	display: block;
	line-height: 0;
}
.fa-envelope {
	display: none;
}
#svgenvelope {
	height: auto;
	width: auto;
	max-height: 100px;
	max-width: 100px;
}
.copyright {
	color: $midnite;
	border: 1px solid transparent;
	text-align: center;
	padding: .6em;
	margin: 0 auto;
	font-size: .6em;
	background: $pastelPink;
}

/*base code*/

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.section {
  padding: 2em;
  text-align: center;
}

.bouncy-nav-trigger {
  background: transparent;
	display:flex;
  justify-content:flex-end;

  
}


.bouncy-nav-modal {
  position:fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(36, 35, 37, 0.2);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0.6s, visibility 0s 0.9s;
  -moz-transition: opacity 0.3s 0.6s, visibility 0s 0.9s;
  transition: opacity 0.3s 0.6s, visibility 0s 0.9s;
}
.bouncy-nav-modal.fade-in {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.1s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.1s 0s, visibility 0s 0s;
  transition: opacity 0.1s 0s, visibility 0s 0s;
}
.bouncy-nav-modal .close {
  display: block;
  position: fixed;
  top: 20px;
  right: 5%;
  width: 44px;
  height: 44px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transform: scale(0) translateZ(0);
  -moz-transform: scale(0) translateZ(0);
  -ms-transform: scale(0) translateZ(0);
  -o-transform: scale(0) translateZ(0);
  transform: scale(0) translateZ(0);
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0.3s;
  transition: transform 0.3s 0s, visibility 0s 0.3s;
}
.bouncy-nav-modal.fade-in .close {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0.3s 0s;
  -moz-transition: -moz-transform 0.3s 0s, visibility 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0.3s 0s;
}
.bouncy-nav li {
	width:22%;
	display:inline-flex;
}
@media only screen and (min-width: 1170px) {
  .bouncy-nav-modal .close {
    top: 60px;
  }
}

.bouncy-nav {
  position: absolute;
  left: 50%;
  top: 50vh;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  max-width: 300px;
}
.bouncy-nav li {
  width: 20%;
display:inline-flex;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: translateY(100vh);
  -moz-transform: translateY(100vh);
  -ms-transform: translateY(100vh);
  -o-transform: translateY(100vh);
  transform: translateY(100vh);
  text-align: center;
}
.is-visible .bouncy-nav li {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.fade-in .bouncy-nav li {
  -webkit-animation: move-in 0.4s;
  -moz-animation: move-in 0.4s;
  animation: move-in 0.4s;
}
.fade-out .bouncy-nav li {
  -webkit-animation: move-out 0.4s;
  -moz-animation: move-out 0.4s;
  animation: move-out 0.4s;
}
.fade-in .bouncy-nav li, .fade-out .bouncy-nav li {
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.fade-in .bouncy-nav li:nth-of-type(2), .fade-out .bouncy-nav li:nth-of-type(2) {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.fade-in .bouncy-nav li:nth-of-type(3), .fade-out .bouncy-nav li:nth-of-type(3) {
  -webkit-animation-delay: 0.15s;
  -moz-animation-delay: 0.15s;
  animation-delay: 0.15s;
}
.fade-in .bouncy-nav li:nth-of-type(4), .fade-out .bouncy-nav li:nth-of-type(4) {
  -webkit-animation-delay: 0.25s;
  -moz-animation-delay: 0.25s;
  animation-delay: 0.25s;
}
.fade-in .bouncy-nav li:nth-of-type(5), .fade-out .bouncy-nav li:nth-of-type(5) {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.fade-in .bouncy-nav li:nth-of-type(6), .fade-out .bouncy-nav li:nth-of-type(6) {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.bouncy-nav a {
  display: inline-block;

  min-width: 100px;
  position: relative;
  padding: 90px 20px 0;
  margin-bottom: 30px;
  color: #ffffff;
}
.bouncy-nav li {
	 list-style:none;
}

.bouncy-nav a::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: $lightgrey;

  background-repeat: no-repeat;
  background-position: 0 0;
}
.bouncy-nav li:nth-of-type(2) a::before {
  background-position: -80px 0;
}
.bouncy-nav li:nth-of-type(3) a::before {
  background-position: -160px 0;
}
.bouncy-nav li:nth-of-type(4) a::before {
  background-position: -240px 0;
}
.bouncy-nav li:nth-of-type(5) a::before {
  background-position: -320px 0;
}
.bouncy-nav li:nth-of-type(6) a::before {
  background-position: -400px 0;
}
@media only screen and (min-width: 768px) {
  .bouncy-nav {
    max-width: 450px;
  }
  .bouncy-nav li {
    width: 33.33%;
    float: left;
  }
  .fade-in .bouncy-nav li:nth-of-type(1), .fade-out .bouncy-nav li:nth-of-type(1) {
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }
  .fade-in .bouncy-nav li:nth-of-type(2), .fade-out .bouncy-nav li:nth-of-type(2) {
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    animation-delay: 0s;
  }
  .fade-in .bouncy-nav li:nth-of-type(4), .fade-out .bouncy-nav li:nth-of-type(4) {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }
  .fade-in .bouncy-nav li:nth-of-type(5), .fade-out .bouncy-nav li:nth-of-type(5) {
    -webkit-animation-delay: 0.25s;
    -moz-animation-delay: 0.25s;
    animation-delay: 0.25s;
  }
  .bouncy-nav a {
    margin-bottom: 50px;
  }
}

@-webkit-keyframes move-in {
  0% {
    -webkit-transform: translateY(100vh);
  }
  65% {
    -webkit-transform: translateY(-1.5vh);
  }
  100% {
    -webkit-transform: translateY(0vh);
  }
}
@-moz-keyframes move-in {
  0% {
    -moz-transform: translateY(100vh);
  }
  65% {
    -moz-transform: translateY(-1.5vh);
  }
  100% {
    -moz-transform: translateY(0vh);
  }
}
@keyframes move-in {
  0% {
    -webkit-transform: translateY(100vh);
    -moz-transform: translateY(100vh);
    -ms-transform: translateY(100vh);
    -o-transform: translateY(100vh);
    transform: translateY(100vh);
  }
  65% {
    -webkit-transform: translateY(-1.5vh);
    -moz-transform: translateY(-1.5vh);
    -ms-transform: translateY(-1.5vh);
    -o-transform: translateY(-1.5vh);
    transform: translateY(-1.5vh);
  }
  100% {
    -webkit-transform: translateY(0vh);
    -moz-transform: translateY(0vh);
    -ms-transform: translateY(0vh);
    -o-transform: translateY(0vh);
    transform: translateY(0vh);
  }
}
@-webkit-keyframes move-out {
  0% {
    -webkit-transform: translateY(0vh);
  }
  100% {
    -webkit-transform: translateY(-100vh);
  }
}
@-moz-keyframes move-out {
  0% {
    -moz-transform: translateY(0vh);
  }
  100% {
    -moz-transform: translateY(-100vh);
  }
}
@keyframes move-out {
  0% {
    -webkit-transform: translateY(0vh);
    -moz-transform: translateY(0vh);
    -ms-transform: translateY(0vh);
    -o-transform: translateY(0vh);
    transform: translateY(0vh);
  }
  100% {
    -webkit-transform: translateY(-100vh);
    -moz-transform: translateY(-100vh);
    -ms-transform: translateY(-100vh);
    -o-transform: translateY(-100vh);
    transform: translateY(-100vh);
  }
}

@import "partials/mediaqueries";