@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

h1 {
  font-size: 3.9em;
  padding-top: .8em;
  text-align: left; }

header {
  padding: 15px;
  background: url("/assets/background.png");
  height: 100vh;
  background-repeat: no-repeat; }

.wrapper_head {
  width: 80%;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }

.left_head {
  width: 50%;
  transform: translateY(-25%); }

.right_head {
  width: 50%;
  margin-top: -.1rem;
  margin-left: auto;
  transform: translateX(65%); }

nav {
  color: #121212;
  font-size: .9em;
  /* Approximation due to font substitution */
  font-weight: 700;
  line-height: 24px;
  position: relative; }
  nav p {
    width: 3.1%;
    height: 0.9%;
    -ms-flex: 1 0 0px;
        flex: 1 0 0; }
  nav a {
    text-decoration: none;
    padding: 5px;
    color: #121212; }
  nav a:hover {
    border-bottom: 4px solid #262626;
    cursor: crosshair; }

.navBar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  list-style: none;
  -ms-flex-pack: end;
      justify-content: flex-end;
  padding: 5px;
  font-size: 1.2em; }
  .navBar ul {
    padding: 1.3em; }
  .navBar li {
    padding: .2em;
    -ms-flex-pack: end;
        justify-content: flex-end; }

.svg-icon {
  width: 2em;
  height: 2em; }

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #262626; }

.right {
  -ms-flex-pack: end;
      justify-content: flex-end;
  margin: 0;
  padding: 0; }
  .right li:last-class {
    display: none; }
  .right .li:last-class:hover {
    display: block; }

.downBtn {
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 92%;
  right: 50%; }

.wrapper__one {
  text-align: center;
  overflow: hidden;
  width: 80%;
  margin: 0 auto; }

.about {
  color: #F2DCDC;
  position: relative;
  height: 80vh;
  text-align: center; }
  .about ul {
    padding: 5em; }
  .about li {
    list-style: none;
    margin: 5px;
    min-height: 100%; }
  .about h3 {
    font-size: 3.5rem; }

.wrapper-two {
  width: 80%;
  text-align: center;
  margin: 0 auto; }

.box-a {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: start;
      align-items: flex-start;
  margin: 0 auto;
  font-family: 'Crimson Text', serif;
  text-transform: uppercase;
  -ms-flex-pack: start;
      justify-content: flex-start;
  align-items: flex-start;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  line-height: 1.8;
  padding: 25px 50px; }
  .box-a img {
    border: 1px solid #727272;
    background: transparent;
    border-radius: 50%;
    padding: 5px;
    text-align: center;
    margin: 0 auto;
    height: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .box-a p {
    font-size: 1.7rem;
    vertical-align: top;
    color: #ebc9c9;
    text-align: center;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
        align-items: flex-start;
    text-transform: lowercase; }
  .box-a h3 {
    -ms-flex-positive: 0;
        flex-grow: 0;
    padding: 19px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    color: #262626;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 28px;
    /* Approximation due to font substitution */
    text-align: center;
    letter-spacing: 3px;
    text-transform: capitalize;
    font-family: "Josefin Sans", sans-serif;
    padding-top: 3em; }

h3::after {
  content: "     —";
  color: #e4b7b7;
  padding: 0;
  margin-right: -100px;
  display: block;
  line-height: 0; }

.box-text-2 {
  border: 1px solid black; }

.photo {
  margin-bottom: -13px;
  text-align: center; }
  .photo h2 {
    color: #121212;
    font-size: 2.2rem;
    /* Approximation due to font substitution */
    font-weight: 600;
    line-height: 1em;
    /* Approximation due to font substitution */
    text-align: left; }
  .photo p {
    font-size: 1.3em;
    color: black;
    line-height: 1.2em;
    text-align: left;
    padding: .2em;
    margin: 0 auto; }

.box-wrapper {
  height: 100vh;
  margin: 0 auto;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative; }

.box-box1 {
  padding: 2.8em 5.2em;
  width: 50%;
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between; }
  .box-box1 p:before {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    height: 20px;
    width: 20px;
    border-top: 5px solid #262626;
    border-left: 5px solid #262626; }

p {
  font-size: 1.5em;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  line-height: 1.2;
  width: 100%;
  font-family: "Josefin Sans", sans-serif;
  margin: 0 auto;
  text-align: left; }

em {
  border-bottom: 2px solid #F2DCDC; }

.box-box2 {
  background: url("/assets/me.JPG");
  opacity: .6;
  z-index: 1;
  width: 56.5%;
  background-attachment: fixed;
  background-position: contain;
  background-repeat: no-repeat;
  background-size: 66.2%; }
  .box-box2 img {
    display: none; }

.box-svg {
  width: 100%;
  text-align: left; }

.box-svg:after {
  content: '';
  position: absolute;
  bottom: -20px;
  right: -20px;
  height: 20px;
  width: 20px;
  border-bottom: 5px solid #262626;
  border-right: 5px solid #262626; }

.box-contain {
  position: relative;
  padding-top: 3rem;
  margin-top: 3rem;
  width: 100%;
  -ms-flex-pack: end;
      justify-content: flex-end;
  border-radius: 2%; }

.video-container {
  position: absolute;
  z-index: -100;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
  opacity: .7; }

.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute; }

.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%; }

.no-video .video-container video,
.touch .video-container video {
  display: none; }

.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important; }

body {
  margin: 0 auto;
  min-height: 100%;
  height: 100%;
  /* the footer needs this */
  font-family: 'Josefin Sans', sans-serif;
  color: #121212;
  font-weight: 600;
  text-align: left;
  letter-spacing: 2px; }

h2 {
  font-size: 2.8rem;
  margin: 0 auto;
  padding-top: 1em;
  text-align: center; }

.slider {
  margin: 0 auto;
  text-align: center; }

.swiper-container {
  width: 100%; }
  .swiper-container a {
    color: #262626;
    padding: .1em;
    text-align: left; }

.swiper-slide {
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  overflow-x: scroll; }
  .swiper-slide img {
    height: auto;
    width: 50.5%; }

.swiper-box {
  display: -ms-flexbox;
  display: flex;
  font-size: 1em;
  width: 45%;
  text-align: left;
  padding-left: 1em;
  -ms-flex-direction: column;
      flex-direction: column; }
  .swiper-box h3 {
    font-size: 3rem; }
  .swiper-box p {
    font-size: 1rem;
    line-height: 1.2em;
    padding: .1em;
    margin: 0 auto; }
  .swiper-box li {
    list-style: none;
    font-size: .9em;
    text-align: center;
    margin: 0 auto;
    display: -ms-inline-flexbox;
    display: inline-flex; }
    .swiper-box li .fa {
      display: -ms-flexbox;
      display: flex; }
    .swiper-box li a {
      color: #262626;
      font-weight: 700; }
    .swiper-box li a:focus {
      color: #F2DCDC; }

a:hover {
  cursor: crosshair; }

.blog-posts {
  margin: 0 auto;
  text-align: center; }
  .blog-posts h2 {
    font-size: 2.8rem; }

.wrapper-four {
  width: 95%;
  padding: 2em;
  margin-top: 2em;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }

.blog {
  border: 1px solid transparent;
  color: #121212;
  font-size: 2.1rem;
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.333;
  /* Approximation due to font substitution */
  text-align: center;
  padding: 2em 4em; }

.box-three {
  border: 1px solid transparent;
  padding: 4em;
  margin: 0 auto; }
  .box-three .title-box {
    font-size: 1rem;
    color: #f68c9d;
    font-size: 1.5rem;
    /* Approximation due to font substitution */
    font-weight: 700;
    line-height: 1.182;
    /* Approximation due to font substitution */
    text-align: left; }
  .box-three .details {
    font-family: "Crimson Text", serif;
    color: #8c8c8c;
    font-size: .9rem;
    /* Approximation due to font substitution */
    font-style: italic;
    line-height: 1;
    /* Approximation due to font substitution */
    text-align: left; }
  .box-three h4 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.9rem;
    /* Approximation due to font substitution */
    font-weight: 600;
    line-height: 1px;
    /* Approximation due to font substitution */
    text-align: left; }
  .box-three a {
    text-decoration: none;
    color: #121212;
    line-height: 1; }

.description {
  font-family: "Crimson Text", serif;
  color: #ababab;
  font-size: 1rem;
  /* Approximation due to font substitution */
  line-height: 1.2;
  /* Approximation due to font substitution */
  text-align: left; }

.wrapper-5 {
  padding: .4em;
  width: 100%;
  margin: 0 auto;
  text-align: left; }

h3 {
  font-family: "Josefin Sans", sans-serif;
  color: #121212;
  font-size: 1.0rem;
  /* Approximation due to font substitution */
  font-weight: 600;
  line-height: 1.25;
  /* Approximation due to font substitution */
  text-align: center; }

a {
  font-family: "Josefin Sans", sans-serif;
  color: #121212;
  font-size: 0.875rem;
  /* Approximation due to font substitution */
  font-weight: 600;
  line-height: 1.714;
  /* Approximation due to font substitution */
  text-align: right; }

.box-contact {
  width: 100%;
  margin: 0 auto; }
  .box-contact p {
    text-align: center;
    margin: 0 auto;
    line-height: 4;
    font-size: 1.225em; }

svg {
  height: auto;
  width: auto;
  fill: #262626;
  text-align: center;
  max-height: 2.2em;
  max-width: 2.2em;
  fill: #F2DCDC;
  border: 1px solid transparent;
  border-radius: 50%;
  filter: contrast(98%); }

.svg-box {
  text-align: center;
  text-align: center;
  width: 100%;
  list-style: none;
  margin: 0 auto; }

.overlay-box {
  background-color: #ffffff;
  width: 73.1%;
  top: 0;
  z-index: 9999;
  right: 0;
  margin-right: 12.5%;
  border: 1px solid transparent;
  position: absolute;
  margin-top: -3em;
  text-align: center;
  opacity: .925;
  min-height: 450px;
  transform: translateY(-42%); }

.footer {
  margin: 0;
  z-index: 1;
  border: 1px solid transparent;
  background-size: contain;
  width: 100%;
  background: #F2DCDC;
  height: 95vh; }
  .footer a {
    color: #262626; }

.overlay-info {
  width: 70%;
  text-align: center;
  margin: 0 auto; }
  .overlay-info h3 {
    font-size: 2.8em;
    color: rgba(0, 0, 0, 0.4); }

input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
  font-size: 5em;
  padding: 1em; }

input {
  width: 90%;
  padding: 0.5em;
  font-size: 5em;
  width: 90%;
  margin: 0 auto;
  padding: 0.5em;
  margin-top: 2em; }

textarea {
  width: 90%;
  font-size: 1.9em;
  height: 150px;
  margin: 0 auto;
  font-size: 5em;
  padding: 3em;
  margin-top: 2em;
  resize: none;
  font-size: 1.0rem; }

.button-submit {
  background: #F2DCDC;
  border: 1px solid #F2F2F2;
  padding: 1em;
  margin-top: 1em;
  width: 40%; }

.wrapper-6 {
  position: relative; }

.works {
  font-size: 2.8rem; }

.overlay-title {
  margin: 0;
  text-align: center;
  font-size: 3rem; }

.social-media {
  border: 1px solid transparent;
  padding: 4em; }
  .social-media i {
    color: #727272;
    font-size: 2em; }

.social-media::before {
  content: '';
  position: absolute;
  top: -20px;
  left: -20px;
  height: 20px;
  width: 20px;
  border-top: 5px solid #262626;
  border-left: 5px solid #262626; }

.social-media::after {
  content: '';
  position: absolute;
  bottom: -20px;
  right: -20px;
  height: 20px;
  width: 20px;
  border-bottom: 5px solid #262626;
  border-right: 5px solid #262626; }

i {
  color: #727272; }

textarea:focus {
  background: #F2F2F2;
  outline: none;
  border: 1px solid #F2DCDC; }

input:focus {
  background: #F2F2F2;
  outline: none;
  border: 1px solid #F2DCDC; }

button:focus {
  outline: none;
  border: 1px solid #F2DCDC; }

button {
  outline: none;
  border: 1px solid #F2F2F2; }

i:after {
  content: "    -";
  color: #F2DCDC;
  padding: 0;
  display: block;
  line-height: 0; }

.fa-envelope {
  display: none; }

#svgenvelope {
  height: auto;
  width: auto;
  max-height: 100px;
  max-width: 100px; }

.copyright {
  color: #262626;
  border: 1px solid transparent;
  text-align: center;
  padding: .6em;
  margin: 0 auto;
  font-size: .6em;
  background: #F2DCDC; }

/*base code*/
.animated {
  animation-duration: 1s;
  animation-fill-mode: both; }

.section {
  padding: 2em;
  text-align: center; }

.bouncy-nav-trigger {
  background: transparent;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end; }

.bouncy-nav-modal {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(36, 35, 37, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s 0.6s, visibility 0s 0.9s; }

.bouncy-nav-modal.fade-in {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.1s 0s, visibility 0s 0s; }

.bouncy-nav-modal .close {
  display: block;
  position: fixed;
  top: 20px;
  right: 5%;
  width: 44px;
  height: 44px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  transform: scale(0) translateZ(0);
  transition: transform 0.3s 0s, visibility 0s 0.3s; }

.bouncy-nav-modal.fade-in .close {
  transform: scale(1);
  transition: transform 0.3s 0s, visibility 0.3s 0s; }

.bouncy-nav li {
  width: 22%;
  display: -ms-inline-flexbox;
  display: inline-flex; }

@media only screen and (min-width: 1170px) {
  .bouncy-nav-modal .close {
    top: 60px; } }

.bouncy-nav {
  position: absolute;
  left: 50%;
  top: 50vh;
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  max-width: 300px; }

.bouncy-nav li {
  width: 20%;
  display: -ms-inline-flexbox;
  display: inline-flex;
  transform: translateZ(0);
  transform: translateY(100vh);
  text-align: center; }

.is-visible .bouncy-nav li {
  transform: translateY(0); }

.fade-in .bouncy-nav li {
  animation: move-in 0.4s; }

.fade-out .bouncy-nav li {
  animation: move-out 0.4s; }

.fade-in .bouncy-nav li, .fade-out .bouncy-nav li {
  animation-fill-mode: forwards; }

.fade-in .bouncy-nav li:nth-of-type(2), .fade-out .bouncy-nav li:nth-of-type(2) {
  animation-delay: 0.1s; }

.fade-in .bouncy-nav li:nth-of-type(3), .fade-out .bouncy-nav li:nth-of-type(3) {
  animation-delay: 0.15s; }

.fade-in .bouncy-nav li:nth-of-type(4), .fade-out .bouncy-nav li:nth-of-type(4) {
  animation-delay: 0.25s; }

.fade-in .bouncy-nav li:nth-of-type(5), .fade-out .bouncy-nav li:nth-of-type(5) {
  animation-delay: 0.3s; }

.fade-in .bouncy-nav li:nth-of-type(6), .fade-out .bouncy-nav li:nth-of-type(6) {
  animation-delay: 0.4s; }

.bouncy-nav a {
  display: inline-block;
  min-width: 100px;
  position: relative;
  padding: 90px 20px 0;
  margin-bottom: 30px;
  color: #ffffff; }

.bouncy-nav li {
  list-style: none; }

.bouncy-nav a::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  right: auto;
  transform: translateX(-50%);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #F2F2F2;
  background-repeat: no-repeat;
  background-position: 0 0; }

.bouncy-nav li:nth-of-type(2) a::before {
  background-position: -80px 0; }

.bouncy-nav li:nth-of-type(3) a::before {
  background-position: -160px 0; }

.bouncy-nav li:nth-of-type(4) a::before {
  background-position: -240px 0; }

.bouncy-nav li:nth-of-type(5) a::before {
  background-position: -320px 0; }

.bouncy-nav li:nth-of-type(6) a::before {
  background-position: -400px 0; }

@media only screen and (min-width: 768px) {
  .bouncy-nav {
    max-width: 450px; }
  .bouncy-nav li {
    width: 33.33%;
    float: left; }
  .fade-in .bouncy-nav li:nth-of-type(1), .fade-out .bouncy-nav li:nth-of-type(1) {
    animation-delay: 0.1s; }
  .fade-in .bouncy-nav li:nth-of-type(2), .fade-out .bouncy-nav li:nth-of-type(2) {
    animation-delay: 0s; }
  .fade-in .bouncy-nav li:nth-of-type(4), .fade-out .bouncy-nav li:nth-of-type(4) {
    animation-delay: 0.3s; }
  .fade-in .bouncy-nav li:nth-of-type(5), .fade-out .bouncy-nav li:nth-of-type(5) {
    animation-delay: 0.25s; }
  .bouncy-nav a {
    margin-bottom: 50px; } }

@keyframes move-in {
  0% {
    transform: translateY(100vh); }
  65% {
    transform: translateY(-1.5vh); }
  100% {
    transform: translateY(0vh); } }

@keyframes move-out {
  0% {
    transform: translateY(0vh); }
  100% {
    transform: translateY(-100vh); } }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 375px) {
  h1 {
    font-size: 1em; }
  .fa-envelope-o {
    font-size: .03em;
    display: none; }
  header {
    background: contain; }
  .wrapper_head {
    width: 85%; }
  header {
    width: 100%; }
  .navBar li {
    font-size: 14px; }
  .wrapper-two {
    width: 100%; }
  p {
    padding: 0; }
  .box-wrapper {
    padding-top: 1em;
    margin-top: 1em;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100vh;
    -ms-flex-direction: column;
        flex-direction: column; }
  .box-box2 {
    width: 100%; }
    .box-box2 img {
      display: block;
      height: auto;
      width: auto;
      max-height: 2em;
      max-width: 2em;
      margin: 0 auto; }
  .box-box1 {
    width: 100%; }
    .box-box1 h2 {
      text-align: center;
      font-size: 18px; }
    .box-box1 p {
      font-size: 14px;
      padding: 0;
      text-align: center; }
  .about-hero-module {
    display: none; }
  .video-container {
    display: none; }
  .downBtn {
    position: absolute;
    bottom: 0; }
  .wrapper-four {
    width: 100%;
    padding: 0;
    margin-top: 0; }
  .box-three {
    padding: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column; }
  .wrapper__one {
    width: 80%;
    margin: 0 auto;
    text-align: center; }
  .box-a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    background: #fdfafa; }
    .box-a img {
      padding: 2px;
      border-radius: 0; }
    .box-a p {
      font-size: 1.2rem; }
  .overlay-info h3 {
    display: none; } }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .about-hero-module {
    display: none; }
  .video-container {
    display: none; }
  body {
    overflow-x: none; }
  header {
    height: 90vh;
    background-size: 100%;
    background-repeat: no-repeat; }
    header .right_head {
      transform: translateX(25%); }
  h1 {
    text-align: right; }
  .about-hero-module {
    display: none; }
  .video-container {
    display: none; }
  .box-box2 {
    width: 40%;
    background: white; }
    .box-box2 img {
      display: block;
      width: auto;
      height: auto;
      max-height: 400px;
      max-width: 400px; }
  .box-box1 {
    width: 90%; }
  .box-wrapper {
    height: 100vh;
    width: 80%;
    margin: 0 auto;
    text-align: center; } }

.wrapper-four {
  width: 90%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row; }

.box-three {
  width: 100%; }

.box-contact {
  height: 100vh;
  border: 1px solid transparent; }
  .box-contact svg {
    height: auto;
    width: auto;
    max-height: 15px;
    max-width: 15px; }

.svg-box {
  background: #4c4c4c; }

.footer {
  height: 50vh; }

.about-hero-module {
  height: 20vh; }

.video-container {
  height: 90vh; }

@media (max-width: 940px) {
  .about-hero-module {
    display: none; }
  .video-container {
    display: none; }
  body {
    overflow-x: none; }
  header {
    height: 100vh;
    background-size: 100%;
    background-repeat: no-repeat; }
    header .fa-envelope {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      color: #262626; }
      header .fa-envelope a {
        text-decoration: none; }
  nav .navBar {
    display: -ms-inline-flexbox;
    display: inline-flex; }
  .box-box2 {
    width: 50%;
    background: white; }
    .box-box2 img {
      display: block;
      width: auto;
      height: auto;
      max-height: 400px;
      max-width: 400px; }
  .box-box1 {
    width: 60%; }
  .box-wrapper {
    height: 100vh;
    width: 80%;
    margin: 0 auto;
    text-align: center; }
  .wrapper-four {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column; }
  .blog {
    padding: 15px 25px; }
  .box-three {
    width: 100%; }
  .box-contact {
    height: 100vh;
    border: 1px solid transparent; }
    .box-contact svg {
      height: auto;
      width: auto;
      margin: 1.0rem;
      max-height: 20px;
      max-width: 20px; }
  .footer {
    height: 50vh; } }

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .about-hero-module {
    display: none; }
  .video-container {
    display: none; }
  /* Landscape phones and down */ }

@media only screen and (max-width: 768px) and (min-device-width: 412px) and (max-device-width: 732px) {
  h1 {
    width: 100%; }
  .wrapper_head {
    width: 100%; }
  header {
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh; }
  .about-hero-module {
    display: none; }
  .video-container {
    display: none; }
  .wrapper__one {
    width: 100%; }
  .box-wrapper {
    height: 80vh;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row; }
    .box-wrapper h2 {
      font-size: 1.2em;
      line-height: 1.2; }
    .box-wrapper p {
      font-size: 1.0em;
      line-height: 1.1; }
    .box-wrapper .box-box1 {
      padding: 1em; }
    .box-wrapper .box-box2 {
      width: 80%; }
    .box-wrapper h4 {
      font-family: "Josefin Sans", sans-serif;
      color: #262626;
      font-size: 1rem;
      /* Approximation due to font substitution */
      line-height: 1.7;
      text-transform: uppercase; }
    .box-wrapper a {
      text-decoration: none;
      color: #262626;
      border: 1px solid #F2DCDC;
      padding: .8em; }
  .wrapper-four {
    width: 80%; }
  .wrapper__one {
    width: 95%; }
  .about {
    height: 51vh; }
  .box-a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-align: center;
        align-items: center; }
  .text-box-2 h3 {
    font-size: 1em; }
  .footer .overlay-info {
    margin: 0 auto;
    display: inline-block; }
    .footer .overlay-info .fa-envelope {
      display: block; }
    .footer .overlay-info .fa {
      display: inline-block;
      border: 1px solid transparent;
      padding: 2px;
      border-radius: 50%;
      font-size: 14px; }
  .blog-posts h2 {
    font-size: 2rem; } }

@media only screen and (max-width: 768px) and (min-device-width: 360px) and (max-device-width: 640px) {
  header {
    width: 100%;
    background-size: cover; }
  .box-box1 {
    width: 100%; }
  .box-box2 {
    width: 100%;
    margin: 0 auto; }
  .box-box2 img {
    display: block;
    width: auto;
    height: auto; }
  .box-svg:before {
    display: none; }
  .box-svg:after {
    display: none; }
  .box-box1 h2 {
    font-size: 16px;
    line-height: 1.2; }
  .blog-posts h2 {
    font-size: 1em;
    margin: 0 auto;
    border: 1px dashed #F2DCDC;
    padding: 1em;
    text-align: center; }
  .blog-posts .wrapper-four {
    width: 95%;
    text-align: center; }
  .blog-posts .box-three p {
    line-height: 1;
    padding: 20px;
    text-align: center; }
  .blog-posts .box-three h4 {
    line-height: 0;
    padding: 0;
    text-align: center; }
  .blog-posts .box-three .description {
    font-size: 18px; }
  .blog-posts .box-three .details {
    line-height: 1;
    margin: 0;
    padding: 2px;
    text-align: center; }
  .wrapper-5 h2 {
    font-size: 2.3rem;
    line-height: 1; }
  .wrapper-5 .box-contact {
    display: -ms-flexbox;
    display: flex; }
    .wrapper-5 .box-contact .svg-box {
      padding: 0; }
  .wrapper__one {
    margin: 0 auto; }
    .wrapper__one ul {
      margin: 0 auto;
      padding: 0; } }

@media only screen and (max-width: 768px) and (min-device-width: 320px) and (max-device-width: 375px) {
  header {
    background-size: cover;
    width: 100%; }
  .box-wrapper {
    width: 0%; }
  .box-box2 {
    width: 100%;
    font-size: 18px;
    margin: 0 auto; }
  .box-box2 img {
    height: 100%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    max-width: 450px; }
  .box-box1 h2 {
    line-height: 1;
    font-size: 2em; }
  .blog-posts h2 {
    font-size: 2em;
    text-align: left;
    border: none;
    margin: 0 auto;
    margin-top: 70px;
    width: 80%; }
  .box-three {
    padding: 25px 30px; }
    .box-three .title-box {
      line-height: 2;
      text-align: center; }
    .box-three h4 {
      line-height: 1;
      margin: 0 auto; }
    .box-three .description {
      line-height: 1.4;
      margin: 0 auto;
      text-align: center;
      padding: 4px;
      width: 100%;
      font-size: 12px; }
    .box-three .details {
      margin: 0 auto;
      padding: 2px; }
  .wrapper-5 h2 {
    font-size: 1em; }
  .box-contact .svg-box {
    padding: 0; }
  .pre-contact {
    height: 50vh; }
  .about {
    width: 100%;
    margin: 0 auto; }
  .wrapper__one {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    padding: 0; }
  ul {
    width: 100%;
    padding: 0;
    margin: 0 auto; }
  .wrapper__one {
    margin: 0 auto; }
    .wrapper__one ul {
      margin: 0 auto;
      padding: 0; }
  .wrapper_head {
    width: 70%; }
    .wrapper_head h1 {
      font-size: 3em; }
    .wrapper_head h2 {
      font-size: 2.1em;
      padding-left: .2em;
      padding-bottom: .2em;
      margin-bottom: 2px; } }

@media screen and (max-width: 768px) and (max-width: 727px) {
  header {
    height: 70vh;
    background-size: cover; }
    header .right_head {
      transform: translateX(25%);
      transform: translateY(-95%); } }

@media screen and (max-width: 768px) and (max-width: 727px) and (max-width: 471px) {
  header {
    height: 100vh;
    background-size: cover; }
    header .right_head {
      transform: translateY(100%); } }

@media screen and (max-width: 768px) and (max-width: 640px) {
  header {
    height: 70vh;
    background-size: cover; }
    header .right_head {
      transform: translateX(25%); }
  body {
    text-align: center; }
  .box-wrapper {
    border: 1px solid transparent;
    width: 90%;
    margin: 0 auto; }
  .box-box2 .me_responsive {
    transform: translateX(-7%);
    opacity: .9;
    height: auto;
    width: auto;
    text-align: center;
    margin: 0 auto;
    z-index: 0;
    width: 100%; }
  .box-box1 {
    width: 100%;
    padding: 1em;
    z-index: 1; }
    .box-box1 p {
      line-height: 1.3em;
      font-size: 21px; }
  .box-contain {
    padding: 0; }
    .box-contain .box-svg {
      margin-bottom: -25px; }
  main {
    height: 100vh; }
  .description {
    line-height: 1.5rem;
    width: 100%;
    padding: 0;
    text-align: left;
    color: #ababab;
    padding: 0;
    color: rgba(0, 0, 0, 0.6);
    font-size: 22px; }
  .wrapper__one {
    width: 100%; }
  a .downbutton {
    display: none; }
  .about {
    height: 50vh;
    margin-bottom: 12em; }
  .box-a {
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -ms-flex-direction: column;
        flex-direction: column;
    margin: 0 auto; }
  svg {
    max-height: 20px;
    max-width: 20px;
    width: 100%; }
  .overlay-title {
    font-size: 3.2rem; }
  .box-three {
    width: 100%; }
    .box-three .title-box, .box-three .details, .box-three .description, .box-three .h4 {
      text-align: center; }
  h4 {
    text-align: center; }
  .wrapper-four {
    width: 80%;
    margin: 0 auto;
    text-align: center; }
  body {
    overflow-x: hidden;
    overflow-y: none; }
  h1 {
    font-size: 62px;
    text-align: center; }
  html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; }
  .wrapper-three {
    width: 100%; }
  h4 {
    font-size: 14px;
    text-align: center; }
  .description {
    font-size: 14px;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    text-align: center;
    margin: 0 auto;
    border: none; } }

@media (max-width: 768px) {
  .homepage-hero-module {
    display: none; } }

@media screen and (max-width: 310px) {
  header {
    height: 50vh;
    background-size: cover; } }

@media screen and (max-width: 471px) {
  header {
    height: 70vh;
    background-size: cover; }
    header .right_head {
      transform: translateX(25%);
      transform: translateY(-65%); }
  main {
    padding-top: 10em; }
  .about {
    padding: 0;
    margin: 0; }
  .box-contain {
    width: 70%;
    text-align: center;
    padding: 0;
    margin: 0 auto; }
  .box-three {
    padding: 1em; }
  .blog-posts h2 {
    border: none;
    font-size: 2.8em; }
  .box-box2 {
    background: none;
    width: 100%;
    padding: 0;
    margin: 0; } }

@media screen and (max-width: 310px) {
  header {
    height: 78vh;
    background-size: cover; }
    header .right_head {
      transform: translateX(45%) translateY(-60%); }
    header h1 {
      font-size: 50px; }
  .box-wrapper {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: column;
        flex-direction: column; }
  main {
    padding-top: 15em;
    margin-top: 40px; }
  .blog-posts {
    margin: 0 auto;
    text-align: center;
    /* margin-top: 25%; */
    margin-top: 5em;
    padding-top: 14em; } }
